section.footer
  .grid-two
    img(class="dff" src="/_assets/img/logo-dff.svg" alt="design forward fund logo")
    .social
      ul
        li: a(href="http://twitter.com/mds")
            span Twitter
            //- svg: use(xlink:href="/_assets/img/social-twitter.svg#target")
            img(src="/_assets/img/social-twitter.svg" alt="twitter logo")
        li: a(href="http://instagram.com/mds")
            span Instagram
            img(src="/_assets/img/social-insta.svg" alt="instagram logo")
        li: a(href="http://youtube.com/mattdsmith")
            span YouTube
            img(src="/_assets/img/social-youtube.svg" alt="youtube logo")
        li: a(href="http://facebook.com/studiods")
            span Facebook
            img(src="/_assets/img/social-facebook.svg" alt="facebook logo")
  .footer-text.grid-two-one
    p <em>Switch to Studio</em> is a free video course produced by <a href="#">MDS</a> through the <a href="#">Design Forward Fund</a> from <a href="#">InVision</a>
    p
      a(href="/privacy") Privacy Policy

