section.footer
  .grid-two
    img(class="dff" src="../_assets/img/logo-dff.svg" alt="design forward fund logo")
    .social
      ul
        li: a(href="http://twitter.com/mds")
            span Twitter
            img(src="../_assets/img/social-twitter.svg" alt="twitter logo")
        li: a(href="http://instagram.com/mds")
            span Instagram
            img(src="../_assets/img/social-insta.svg" alt="instagram logo")
        li: a(href="http://youtube.com/mattdsmith")
            span YouTube
            img(src="../_assets/img/social-youtube.svg" alt="youtube logo")
        li: a(href="http://facebook.com/studiomds")
            span Facebook
            img(src="../_assets/img/social-facebook.svg" alt="facebook logo")
  .footer-text.grid-two-one
    p <em>Switch to Studio</em> is a free video course produced by <a href="http://mds.is">MDS</a> through the <a href="https://www.invisionapp.com/design-forward-fund">Design Forward Fund</a> from <a href="https://invisionapp.com">InVision</a>
    ul
      //- li: a(href="/colophon") Colophon
      li: a(href="privacy") Privacy Policy

