//- header.pug
header
  ul
    li
      a(href="http://mds.is")
        span MDS
        img(src="/_assets/img/logo-mds.svg" alt="MDS")
    li
      a(href="http://invisionapp.com/")
        span InVision
        img(src="/_assets/img/logo-invision.svg" alt="invision")
    li
      a(href="http://www.invisionapp.com/studio") Get Studio
