//- notified.pug
.notified.grid-three
  h4
    <a href="#">Get notified</a> when new Studio Sprints are realeased.
  .instruction-tag--line
  .instruction-tag.instruction-tag--right
    p Stay in the loop
