//- Sprint 1
//- **************************************
- var sprint_1_1_ID =     "aXsizGMW85w";
- var sprint_1_1_title =  "Prototype walkthrough";
- var sprint_1_1_time =   "time_goes_here";

- var sprint_1_2_ID =     "yu1y9p-mxYM";
- var sprint_1_2_title =  "Simple UI animation";
- var sprint_1_2_time =   "time_goes_here";

- var sprint_1_3_ID =     "J-QV70gKNmI";
- var sprint_1_3_title =  "Duplicating and modifying interactions";
- var sprint_1_3_time =   "time_goes_here";

- var sprint_1_4_ID =     "QamUv4PdzQg";
- var sprint_1_4_title =  "Exploring Swipe interactions ";
- var sprint_1_4_time =   "time_goes_here";

- var sprint_1_5_ID =     "VIK6L75tpAY";
- var sprint_1_5_title =  "Advanced time-based animations ";
- var sprint_1_5_time =   "time_goes_here";
//- **************************************

//- Sprint 2
//- **************************************
- var sprint_2_1_ID =     "lY-rxXkstYc";
- var sprint_2_1_title =  "Keep these things in mind before you design an app";
- var sprint_2_1_time =   "time_goes_here";

- var sprint_2_2_ID =     "FRIC-NElvTE";
- var sprint_2_2_title =  "Design an iOS tab bar";
- var sprint_2_2_time =   "time_goes_here";

- var sprint_2_3_ID =     "m1jNnlagSTc";
- var sprint_2_3_title =  "Card-based UI design";
- var sprint_2_3_time =   "time_goes_here";

- var sprint_2_4_ID =     "m1jNnlagSTc"; //- needs to be uploaded by InVision
- var sprint_2_4_title =  "Interior detail screen design";
- var sprint_2_4_time =   "time_goes_here";

- var sprint_2_5_ID =     "m1jNnlagSTc"; //- needs to be uploaded by InVision
- var sprint_2_5_title =  "Using existing components for additional screens";
- var sprint_2_5_time =   "time_goes_here";

//- Sprint 3
//- **************************************
- var sprint_3_1_ID =     "kEnYZCWT0GQ";
- var sprint_3_1_title =  "Detailed inspection of app animations";
- var sprint_3_1_time =   "time_goes_here";

- var sprint_3_2_ID =     "yxPeRqfQqGM";
- var sprint_3_2_title =  "Level up your animations using Masks";
- var sprint_3_2_time =   "time_goes_here";

- var sprint_3_3_ID =     "O_eiE0YkIkk";
- var sprint_3_3_title =  "Layer your animations for rich interactions";
- var sprint_3_3_time =   "time_goes_here";

- var sprint_3_4_ID =     "aC8-tqEa0bs";
- var sprint_3_4_title =  "Ways to refactor and enhance your animations";
- var sprint_3_4_time =   "time_goes_here";

- var sprint_3_5_ID =     "U4JZjjOle5E";
- var sprint_3_5_title =  "Duplicating and repurposing animations";
- var sprint_3_5_time =   "time_goes_here";

//- Sprint 4
//- **************************************
- var sprint_4_1_ID =     "krdzxYg90gg";
- var sprint_4_1_title =  "LISTS – the secret sauce for new design projects";
- var sprint_4_1_time =   "time_goes_here";

- var sprint_4_2_ID =     "i66BZP_Ig5M";
- var sprint_4_2_title =  "Low-fidelity animation overview";
- var sprint_4_2_time =   "time_goes_here";

- var sprint_4_3_ID =     "PWejlHaekmg";
- var sprint_4_3_title =  "Sketch to InVision Studio";
- var sprint_4_3_time =   "time_goes_here";

- var sprint_4_4_ID =     "yskfyysQCSs";
- var sprint_4_4_title =  "Combining Tap and Timing interactions";
- var sprint_4_4_time =   "time_goes_here";

- var sprint_4_5_ID =     "uBBujZJi840";
- var sprint_4_5_title =  "Animating User Input";
- var sprint_4_5_time =   "time_goes_here";

- var sprint_4_6_ID =     "1SOaobzx-eg";
- var sprint_4_6_title =  "Creating subtle and refined animations";
- var sprint_4_6_time =   "time_goes_here";

- var sprint_4_7_ID =     "Kv6nVk8zG_s";
- var sprint_4_7_title =  "Nail the tiny details of your animated prototype";
- var sprint_4_7_time =   "time_goes_here";
