//- Sprint 1
//- **************************************
//- https://switchtostudio.com/sprint?s=1-1
//- https://switchtostudio.com/sprint?s=1-2
//- https://switchtostudio.com/sprint?s=1-3
//- https://switchtostudio.com/sprint?s=1-4
//- https://switchtostudio.com/sprint?s=1-5
//- OR
//- https://switchtostudio.com/sprint/1/1
//- https://switchtostudio.com/sprint/1/2
//- https://switchtostudio.com/sprint/1/3
//- https://switchtostudio.com/sprint/1/4
//- https://switchtostudio.com/sprint/1/5

- var sprint_1_1_ID = "aXsizGMW85w";
- var sprint_1_2_ID = "yu1y9p-mxYM";
- var sprint_1_3_ID = "J-QV70gKNmI";
- var sprint_1_4_ID = "QamUv4PdzQg";
- var sprint_1_5_ID = "VIK6L75tpAY";

//- Sprint 2
//- **************************************
- var sprint_2_1_ID = "lY-rxXkstYc";
- var sprint_2_2_ID = "FRIC-NElvTE";
- var sprint_2_3_ID = "m1jNnlagSTc";
- var sprint_2_4_ID = "cUYSGojUuAU"; //- needs to be uploaded by InVision (makin' bacon pancakes)
- var sprint_2_5_ID = "4r7wHMg5Yjg"; //- needs to be uploaded by InVision (honey badger)

//- Sprint 3
//- **************************************
- var sprint_3_1_ID = "kEnYZCWT0GQ";
- var sprint_3_2_ID = "yxPeRqfQqGM";
- var sprint_3_3_ID = "O_eiE0YkIkk";
- var sprint_3_4_ID = "aC8-tqEa0bs";
- var sprint_3_5_ID = "U4JZjjOle5E";
//- Sprint 4
//- **************************************
- var sprint_4_1_ID = "krdzxYg90gg";
- var sprint_4_2_ID = "i66BZP_Ig5M";
- var sprint_4_3_ID = "PWejlHaekmg";
- var sprint_4_4_ID = "yskfyysQCSs";
- var sprint_4_5_ID = "uBBujZJi840";
- var sprint_4_6_ID = "1SOaobzx-eg";
- var sprint_4_7_ID = "Kv6nVk8zG_s";
