//- Sprint 1
//- **************************************
- var sprint_1_1_URL =    "?s=1.1";
- var sprint_1_1_title =  "1.1 – Prototype walkthrough";
- var sprint_1_1_ID =     "aXsizGMW85w";
- var sprint_1_1_time =   "01:11";
- var sprint_1_1_desc =   "In this video, we'll take a look at ways to get started fast by using simple shapes to create a fun, interactive prototype with different types of animations. <a href='https://projects.invisionapp.com/prototype/Studio-Sprint-1-cjnao3oth007emj01gonbpewn/play/''>View the prototype.</a>";

- var sprint_1_2_URL =    "?s=1.2";
- var sprint_1_2_title =  "1.2 – Simple UI animation";
- var sprint_1_2_ID =     "yu1y9p-mxYM";
- var sprint_1_2_time =   "03:09";
- var sprint_1_2_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_1_3_URL =    "?s=1.3";
- var sprint_1_3_title =  "1.3 – Duplicating and modifying interactions";
- var sprint_1_3_ID =     "J-QV70gKNmI";
- var sprint_1_3_time =   "18:47";
- var sprint_1_3_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_1_4_URL =    "?s=1.4";
- var sprint_1_4_title =  "1.4 – Exploring Swipe interactions ";
- var sprint_1_4_ID =     "QamUv4PdzQg";
- var sprint_1_4_time =   "15:14";
- var sprint_1_4_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_1_5_URL =    "?s=1.5";
- var sprint_1_5_title =  "1.5 – Advanced time-based animations ";
- var sprint_1_5_ID =     "VIK6L75tpAY";
- var sprint_1_5_time =   "17:29";
- var sprint_1_5_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";
//- **************************************

//- Sprint 2
//- ************************************
- var sprint_2_1_URL =    "?s=2.1";
- var sprint_2_1_title =  "2.1 – Keep these things in mind before you design an app";
- var sprint_2_1_ID =     "lY-rxXkstYc";
- var sprint_2_1_time =   "02:30";
- var sprint_2_1_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_2_2_URL =    "?s=2.2";
- var sprint_2_2_title =  "2.2 – Design an iOS tab bar";
- var sprint_2_2_ID =     "FRIC-NElvTE";
- var sprint_2_2_time =   "14:12";
- var sprint_2_2_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_2_3_URL =    "?s=2.3";
- var sprint_2_3_title =  "2.3 – Card-based UI design";
- var sprint_2_3_ID =     "cUYSGojUuAU"; //- needs to be uploaded by InVision
- var sprint_2_3_time =   "00:00";
- var sprint_2_3_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_2_4_URL =    "?s=2.4";
- var sprint_2_4_title =  "2.4 – Interior detail screen design";
- var sprint_2_4_ID =     "4r7wHMg5Yjg";  //- needs to be uploaded by InVision
- var sprint_2_4_time =   "00:00";
- var sprint_2_4_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_2_5_URL =    "?s=2.5";
- var sprint_2_5_title =  "2.5 – Using existing components for additional screens";
- var sprint_2_5_ID =     "m1jNnlagSTc";
- var sprint_2_5_time =   "10:19";
- var sprint_2_5_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

//- Sprint 3
//- ************************************
- var sprint_3_1_URL =    "?s=3.1";
- var sprint_3_1_title =  "3.1 – Detailed inspection of app animations";
- var sprint_3_1_ID =     "kEnYZCWT0GQ";
- var sprint_3_1_time =   "05:21";
- var sprint_3_1_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_3_2_URL =    "?s=3.2";
- var sprint_3_2_title =  "3.2 – Level up your animations using Masks";
- var sprint_3_2_ID =     "yxPeRqfQqGM";
- var sprint_3_2_time =   "09:53";
- var sprint_3_2_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_3_3_URL =    "?s=3.3";
- var sprint_3_3_title =  "3.3 – Layer your animations for rich interactions";
- var sprint_3_3_ID =     "O_eiE0YkIkk";
- var sprint_3_3_time =   "15:48";
- var sprint_3_3_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_3_4_URL =    "?s=3.4";
- var sprint_3_4_title =  "3.4 – Ways to refactor and enhance your animations";
- var sprint_3_4_ID =     "aC8-tqEa0bs";
- var sprint_3_4_time =   "12:59";
- var sprint_3_4_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_3_5_URL =    "?s=3.5";
- var sprint_3_5_title =  "3.5 – Duplicating and repurposing animations";
- var sprint_3_5_ID =     "U4JZjjOle5E";
- var sprint_3_5_time =   "17:10";
- var sprint_3_5_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

//- Sprint 4
//- ************************************
- var sprint_4_1_URL =    "?s=4.1";
- var sprint_4_1_title =  "4.1 – The secret sauce for new design projects";
- var sprint_4_1_ID =     "krdzxYg90gg";
- var sprint_4_1_time =   "04:13";
- var sprint_4_1_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_4_2_URL =    "?s=4.2";
- var sprint_4_2_title =  "4.2 – Low-fidelity animation overview";
- var sprint_4_2_ID =     "i66BZP_Ig5M";
- var sprint_4_2_time =   "01:27";
- var sprint_4_2_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_4_3_URL =    "?s=4.3";
- var sprint_4_3_title =  "4.3 – Sketch to InVision Studio";
- var sprint_4_3_ID =     "PWejlHaekmg";
- var sprint_4_3_time =   "09:46";
- var sprint_4_3_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_4_4_URL =    "?s=4.4";
- var sprint_4_4_title =  "4.4 – Combining Tap and Timing interactions";
- var sprint_4_4_ID =     "yskfyysQCSs";
- var sprint_4_4_time =   "07:21";
- var sprint_4_4_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_4_5_URL =    "?s=4.5";
- var sprint_4_5_title =  "4.5 – Animating User Input";
- var sprint_4_5_ID =     "uBBujZJi840";
- var sprint_4_5_time =   "17:52";
- var sprint_4_5_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_4_6_URL =    "?s=4.6";
- var sprint_4_6_title =  "4.6 – Creating subtle and refined animations";
- var sprint_4_6_ID =     "1SOaobzx-eg";
- var sprint_4_6_time =   "10:28";
- var sprint_4_6_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

- var sprint_4_7_URL =    "?s=4.7";
- var sprint_4_7_title =  "4.7 – Nail the tiny details of your animated prototype";
- var sprint_4_7_ID =     "Kv6nVk8zG_s";
- var sprint_4_7_time =   "08:29";
- var sprint_4_7_desc =   "This is a description for the video. Many more things will be said here. It's not really that important, but kind of nice to have—especially for search engine optimization.";

