.grid-two-one.video
    div.video-wrap
      <iframe width="560" height="315" src="https://www.youtube.com/embed/aXsizGMW85w?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    div.video-playlist
      //- Note to self: Can I get the titles and length <time> from the YouTube API?
      ul
        li: a.grid-two(href="#")
          .vid-thumb
            img(src="http://img.youtube.com/vi/aXsizGMW85w/mqdefault.jpg" alt="video thumbnail")
          div
            h2 Prototype walkthrough
            time 5:43
        li: a.grid-two(href="#")
          .vid-thumb
            img(src="http://img.youtube.com/vi/yu1y9p-mxYM/mqdefault.jpg" alt="video thumbnail")
          div
            h2 Prototype walkthrough
            time 5:43
        li: a.grid-two(href="#")
          .vid-thumb
            img(src="http://img.youtube.com/vi/aXsizGMW85w/mqdefault.jpg" alt="video thumbnail")
          div
            h2 Prototype walkthrough
            time 5:43
        li: a.grid-two(href="#")
          .vid-thumb
            img(src="http://img.youtube.com/vi/aXsizGMW85w/mqdefault.jpg" alt="video thumbnail")
          div
            h2 Prototype walkthrough
            time 5:43
        li: a.grid-two(href="#")
          .vid-thumb
            img(src="http://img.youtube.com/vi/aXsizGMW85w/mqdefault.jpg" alt="video thumbnail")
          div
            h2 Prototype walkthrough
            time 5:43
