//- 01 index.pug
extends src/_includes/layout.pug

block head
  title Switch to Studio by MDS

block stylesandscripts
  link(rel="stylesheet" type="text/css" href="build/_styles/style.css")
  link(id="favicon" rel="shortcut icon" href="favicon.ico")
  script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  script(src='build/_scripts/index.js')

//- block meta pulls in here

block content
  ul.directory
    li: h1 Directory
    li: a(href="/build") Main page
    li: a(href="/build/sprint?s=1") Sprint 1
    li: a(href="/build/sprint?s=2") Sprint 2
    li: a(href="/build/sprint?s=3") Sprint 3
    li: a(href="/build/sprint?s=4") Sprint 4
    li: a(href="/build/notified") Get notified
    li: a(href="/build/download") Download files
    li: a(href="/build/almost") Post form submit
    li: a(href="/build/files") File repository

    //- testing github–now integration

