//- sprint/index.pug
extends ../_includes/layout.pug

block head
  title Studio Sprint 01 – Switch to Studio

//- block meta pulls in here

block content

  main.main--interior.main--sprint
    .main-wrapper
      .grid-three.grid-lines
        .grid-column-one
        .grid-column-two
        .grid-column-three

      block header
        include ../_includes/header.pug

      .grid-two-one.head-container
        div
          h1 <a href="/elon">&larr;</a> <em>01 – </em> Get Started Fast with InVision Studio
        div
          div
            a.cta-primary(href="/download") Download The Files

      //- **************************************************
      //- main video section is in this include

      block main-video
        include ../_includes/video.pug

      //- **************************************************

      block notified
        include ../_includes/get-notified.pug

    block foot
      include ../_includes/foot.pug

  block scripts
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src='/_scripts/index.js')



