//- sprint/index.pug
extends ../_includes/layout.pug

block head
  title Confirm your email – Switch to Studio

//- block meta pulls in here

block content

  main
    .main-wrapper.main--interior.main--form
      .grid-three.grid-lines
        .grid-column-one
        .grid-column-two
        .grid-column-three

      .grid-two-one.head-container
        div
          h1 <a href="/">&larr;</a> <em>Amost Done! </em> Now go confirm your email.
        div
          .instruction-tag.instruction-tag--center
            p Handy dandy link
          .instruction-tag--line.instruction-tag--line-vertical
          div.cta-email
            a.cta-primary(href="https://mail.google.com/mail/u/0/#search/matt%40mds.is+response+required") Open Gmail &amp; confirm
            p.form-helper No Gmail? No problem. Fire up your inbox and click the link in  <strong>"STUDIO + MDS — RESPONSE REQUIRED"</strong>.

    block foot
      include ../_includes/foot.pug

  block scripts
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src='/_scripts/index.js')



