html
  box-sizing: border-box
  background: $color-black

*, *:before, *:after
  box-sizing: inherit

body
  font-size: 16px
  line-height: 1.75em
  color: $color-small-grey-text
  padding: 0 10px
  +sans

  +small
    padding: 0 2rem

::-moz-selection
  background: rgba($color-primary, .1)
  color: $color-primary

::selection
  background: rgba($color-primary, .1)
  color: $color-primary

img
  width: 100%

a
  -webkit-tap-highlight-color: rgba(0,0,0,0)
  text-decoration: none
  color: $color-white
  position: relative


h1
  font-size: 3.2rem
  color: $color-big-text-dark
  line-height: .8em
  font-weight: 300
  letter-spacing: -.3rem
  text-transform: uppercase

  em
    color: $color-white
    strong
      color: $color-primary

  +small
    font-size: 5rem

  +medium
    font-size: 6rem

p
  font-weight: 400

.body-copy
  margin-top: 2rem

  p
    font-size: 1rem
    line-height: 1.65
    margin-bottom: 1rem
    text-align: justify
    text-indent: 1rem

    // em
    //   font-weight: 600
    //   font-size: .75rem
    //   text-transform: uppercase

.display-none
  display: none !important

.display-block
  display: block !important



