.notified
  padding: 5rem 0 3rem
  align-items: center
  max-width: 100%
  grid-template-columns: 1fr
  grid-gap: 0

  +small
    grid-template-columns: 2fr 1fr auto
    padding: 8rem 0

  +medium
    max-width: 66.66%
    grid-template-columns: 4.5fr 1fr auto // custom layout for three wide, spanning two columns

  h4
    font-size: 2rem
    line-height: .9em
    text-transform: uppercase
    font-weight: 300
    margin-left: 10px

    +xsmall
      font-size: 2.5rem

    +medium
      font-size: 3rem

    a
      text-decoration: none
      color: $color-white
      display: inline-block
      line-height: .8em
      letter-spacing: -.04em
      +easeall

      &:after
        content: " "
        display: block
        width: 100%
        height: 1px
        background: $color-primary
        position: absolute
        bottom: 0
        right: 0
        +easeall

      &:hover
        &:after
          width: .15em
          height: .15em
          transform: translateX(.15em)
          animation: blink .5s infinite
          +easespeed(.1s)

  .instruction-tag,
  .instruction-tag--line
    display: none

    +small
      display: block




