.sprint-grid
  grid-gap: 10px
  align-items: center
  padding-top: 4rem
  padding-bottom: 4rem

  img
    padding: 1rem 0
    +easeall

  h2
    font-size: 2rem
    font-weight: 300
    line-height: 1.1em
    max-width: 14rem
    padding: 1rem 0
    +easeall

  h4
    font-size: .75rem
    text-transform: uppercase
    color: $color-small-grey-text
    padding: 1rem 0
    font-weight: 600
    +easeall

  a:first-child
    grid-column-start: 2

  a
    font-size: 2rem
    font-weight: 400
    text-decoration: none
    color: $color-white
    padding: 2.5rem
    display: block
    position: relative
    +easeall

    &:before
      content: " "
      width: 10px
      height: 10px
      background: $color-main-dark-panel-bg
      display: block
      position: absolute
      z-index: 10
      top: 0
      left: 0
      transform: translate(-10px, -10px)
      +easeall

    &:after
      content: " "
      width: 100%
      height: 100%
      background: $color-main-dark-panel-bg
      display: block
      position: absolute
      z-index: -10
      bottom: 0
      right: 0
      transform: translate(0, 0)
      +easeall

    em
      color: $color-primary
      +easeall

    &:hover
      text-indent: 1rem
      +easeall

      img
        transform: scale(1.1)
        +easeall

      h2, h4
        text-indent: 0
        transform: translateX(1rem)
        +easeall

      &:before
        animation: blink .5s infinite .3s
        background: $color-primary
        // box-shadow: 0 0 40px 4px $color-primary
        +easeall
      &:after
        background: $color-main-dark-panel-bg-hover
        +easeall

.sprint-grid.sprint-grid--download
  padding-bottom: 6rem
  a
    height: 34rem
    position: relative

    img
      width: 24px
      position: absolute
      top: 1.5rem
      right: 2.75rem
      z-index: 100

    &:hover .download-wrapper
      &:after
        background: $color-small-grey-text
        transform: scale(.9)
        +easeall
      &:before
        background: $color-main-dark-panel-bg
        +easeall

      h4
        color: $color-primary
        +easeall

  .download-wrapper
    position: relative
    top: 0
    left: 0
    width: 100%
    height: 100%

    &:after
      content: " "
      diplay: block
      width: 22px
      height: 22px
      position: absolute
      bottom: 3.25rem
      right: 0rem
      background: $color-pink-tag-line
      +easeall

    &:before
      content: " "
      diplay: block
      width: 6px
      height: 6px
      position: absolute
      bottom: 3.5rem
      right: .25rem
      z-index: 10
      background: $color-main-dark-panel-bg
      +easeall

  h2
    position: absolute
    // left: 2.5rem
    bottom: 6rem

  h4
    position: absolute
    // left: 2.5rem
    bottom: 2rem

