.sprint
  margin-top: 4rem

.video-overlay
  display: none
  width: 100%
  height: 100%
  position: fixed
  top: 0
  left: 0
  z-index: 500
  background: rgba($color-small-grey-text, .5)

  .video-overlay-wrapper
    width: 60%
    position: absolute
    +center

.dynamic-content
  display: none

.video-wrap
  position: relative
  padding-bottom: 56.25% // 16:9
  height: 0
  background: $color-main-dark-panel-bg

.video-wrap iframe
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

.video
  margin-left: 10px
  margin-bottom: 8rem

  .title-link
    padding: 2rem 0
    grid-template-columns: auto auto
    align-items: top
    grid-gap: 4rem

  h2
    font-size: 1.5rem
    color: $color-white
    font-weight: 400

  a
    margin-top: 2rem
    margin-right: 0

    img
      width: 16px
      position: relative
      top: .25rem
      left: -.5rem

  p
    padding: 2rem 0
    line-height: 1.35em
    max-width: 40rem

  .instructor
    grid-template-columns: auto 1fr
    align-items: center
    grid-gap: 1rem
    img
      max-width: 36px
      border-radius: 50%
      background: $color-main-dark-panel-bg-hover
      padding: 1px
    h5
      font-size: .75rem


.video-playlist
  li
    margin-bottom: 10px
    margin-right: 10px
  a
    grid-template-columns: auto 1fr
    font-weight: 600
    grid-gap: 20px
    color: white
    padding: 1rem
    +easeall

    h3
      font-size: 1rem
      line-height: 1.25em
      font-weight: 300
      margin-right: 10px

      // em
      //   font-weight: 300

    &:hover
      background: $color-main-dark-panel-bg-hover
      +easeall
      img
        opacity: 1
        +easeall

    &.now-playing:hover img
      opacity: 1

    time
      font-size: .875rem
      font-weight: 400
      color: $color-small-grey-text
      position: relative

  .vid-thumb
    position: relative

    img
      padding: 0
      margin: 0
      max-width: 13.75rem
      +easeall

    &:before
      content: " "
      display: block
      width: 100%
      height: 100%
      position: absolute
      z-index: -10
      background: $color-pink-tag-line
      top: 0
      left: 0

.video-playlist li a.now-playing
  pointer-events: none
  background: $color-main-dark-panel-bg-hover
  cursor: default

  img
    opacity: 1

  h3
    font-weight: 900
  .now-playing
    position: relative
    text-transform: uppercase
    font-size: .675rem
    color: $color-primary
    font-weight: 600
    padding: .5rem 1rem .1rem
    line-height: 1.1em

    &:before,
    &:after
      content: " "
      display: block
      width: 6px
      height: 6px
      top: 10px
      left: 0
      border-radius: 50%
      background: $color-primary
      position: absolute

    &:after
      animation: blink 1s infinite
      box-shadow: 0 0 12px 1px $color-primary




