//- sprint/index.pug
extends ../_includes/layout.pug

block head
  title Download the Files – Switch to Studio

//- block meta pulls in here

block content

  main.main--interior.main--form
    .main-wrapper
      .grid-three.grid-lines
        .grid-column-one
        .grid-column-two
        .grid-column-three

      .grid-two-one.head-container
        div
          h1 <a href="/">&larr;</a> <em>Join the MDS list </em> &amp; get instant access to the project files.
        div
          .instruction-tag.instruction-tag--center
            p Fill this out
          .instruction-tag--line.instruction-tag--line-vertical
          include ../_includes/form.pug
            block cta
              span Download the free files

    block foot
      include ../_includes/foot.pug

  block scripts
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src='/_scripts/index.js')



