//- sprint/index.pug
extends ../_includes/layout.pug

block head
  title Download Project Files – Switch to Studio

//- block meta pulls in here

block content

  main
    .main-wrapper
      .grid-three.grid-lines
        .grid-column-one
        .grid-column-two
        .grid-column-three

      block header
        include ../_includes/header.pug

      .grid-two-one.head-container
        div
          h1 <a href="/">&larr;</a> <em>Switch to Studio </em> file download repository

      .grid-three.sprint-grid.sprint-grid--download
        .instruction-tag-group
          .instruction-tag
            p Download the Studio files
          .instruction-tag--line
        a(href="https://mds-assets.s3.amazonaws.com/switchtostudio/sprint01.zip") 01<em>.</em>
          img(src="_assets/img/icon-download.svg" alt="download icon")
          .download-wrapper
            h2 Get started fast with InVision Studio
            h4 .zip download
        a(href="https://mds-assets.s3.amazonaws.com/switchtostudio/sprint02.zip") 02<em>.</em>
          img(src="_assets/img/icon-download.svg" alt="download icon")
          .download-wrapper
            h2 Interface design for a conceptual iOS app
            h4 .zip download
        a(href="https://mds-assets.s3.amazonaws.com/switchtostudio/sprint03.zip") 03<em>.</em>
          img(src="_assets/img/icon-download.svg" alt="download icon")
          .download-wrapper
            h2 Custom iOS app screen transitions
            h4 .zip download
        a(href="https://mds-assets.s3.amazonaws.com/switchtostudio/sprint04.zip") 04<em>.</em>
          img(src="_assets/img/icon-download.svg" alt="download icon")
          .download-wrapper
            h2 Exploring animations in low fidelity
            h4 .zip download

    block foot
      include ../_includes/foot.pug

  block scripts
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src='/_scripts/index.js')



