//- 01 index.pug
extends _includes/layout.pug

block head
  title Switch to Studio by MDS

  block stylesandscripts
    link(rel="stylesheet" type="text/css" href="/_styles/style.css")
    link(id="favicon" rel="shortcut icon" href="/favicon.ico")

//- block meta pulls in here

block content

  .gatekeeper
    .instruction-tag.instruction-tag--center
      p Switch to Studio
    .instruction-tag--line.instruction-tag--line-vertical
    form(name='keeper', action="javascript:location.href =\ window.document.keeper.page.value + '.html' ")

      .formkit-field.form-label
        label.inp(for='go')
          input.formkit-input(aria-label='text', name='page', required='', placeholder=' ', type='text' autocomplete="off")
          span.label Enter Password

      div.cta-group
        button.formkit-submit.formkit-submit(data-element='page')
          .formkit-spinner
          span Go

  block scripts
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(src='/_scripts/index.js')



